/* - - - - - - - - - - - - - - */
/* - - IMPORT - - - - - - - - */
@import url(reset.css);
@import url(utility.css);

/* - - - - - - - - - - - - - - - -  */
/* - - TYPOGRAPHIE - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{ font-family: "Public Sans", sans-serif }

/* - - - - - - - - - - - - - - - -  */
/* - - COLOR - - - - - - - - */
body{
    background-color: rgb(39, 10, 65);
    color: aliceblue;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    color: inherit
}

/* - - - - - - - - - - - - - - - -  */
/* - - MISE EN PAGE - - - - - - - - */
header{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

section{
    border-top: 1px solid white;
    min-height: 100vh;
}

/* - - - - - - - - - - - - - - - -  */
/* - - MODULES - - - - - - - - */

nav{
    background-color: #0003;

    display: flex;
    gap: 1rem;
    width: 100%;
}
nav a {
    padding: 1%;
}

nav a:hover{
    background-color: rgba(122, 48, 207, 0.482);
}