/* - - - - - - - - - - - - - - */
/* - - IMPORT - - - - - - - - */
@import url(reset.css);
@import url(utility.css);

/* - - - - - - - - - - - - - - - -  */
/* - - TYPOGRAPHIE - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

html{ font-family: "Public Sans", sans-serif }

h1 {
    
}

/* - - - - - - - - - - - - - - - -  */
/* - - COLOR - - - - - - - - */
body{
    background-color: #694994;
    color: aliceblue;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    color: inherit
}

/*  - - - - - - - - - - - - - - - - */
/* - - UI/UX - - - - - - - - */
html {
    scroll-behavior: smooth;
}

*:has(.topNav){ position: relative;}
a.topNav{
    font-size: 1rem;
    position: absolute;
    right: 2rem;
}

nav {
    position: sticky;
    top: 0;
    z-index: 99;
}

/* - - - - - - - - - - - - - - - -  */
/* - - MISE EN PAGE - - - - - - - - */


header .hero {
    height: calc(100vh - 3rem);
}

nav {
    height: 3rem;
    justify-content: center;
}

section{
    border-top: 1px solid white;
    min-height: 100vh;
}

/* - - - - - - - - - - - - - - - -  */
/* - - MODULES - - - - - - - - */

nav{
    background-color: #0003;

    display: flex;
    gap: 1rem;
    width: 100%;
}
nav a {
    padding: 1%;
}

nav a:hover{
    background-color: rgba(122, 48, 207, 0.482);
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.hero .image {
    flex-shrink: 0;
}

.hero .text {
    flex: 1;
    text-align: ;

    font-size: 3vw;
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #B4A5CB;
}
.hero .image img {
    width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
}
